<%CSSstart%>
.question{
    padding-bottom: 20px;
}


.bottom_line{
    height: 20px;
    width: 490px;
    line-height: 10px;
    border-bottom: solid #000 1px;
    margin-left: -20px;
}

#start_button{
    background-color: #cdba6c;
    border: none;
    padding: 3px 20px 3px 20px;
    color: #fff;
    font-size: 13pt;
    margin: 10px 0 0 50px;
    width: 300px;
}

#admin_section{
    padding: 40px 0  0 70px;
}

<%CSSend%>

<div class="section">

<div id="admin_section">

<form action="/test" method="POST">
    <!-- TEST -->

    <input id="start_button" type="submit" value="Ответить">
</form>
&nbsp;
</div>
</div>