<%CSSstart%>
#admin_section{
    padding: 20px 0  0 70px;
}

#admin_title{
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 24pt;
    text-align: center;
}

.ctrl_button{
    background-color: #cdba6c;
    border: none;
    padding: 3px 20px 3px 50px;
    color: #fff;
    font-size: 13pt;
    margin: 10px 0 40px 0px;
    width: 300px;
    text-align: center;
}

.ctrl_button a{
    color: #fff;
    text-decoration: none;
}

.end_button{
    background-color: #cd936c;
}

#result{
    padding: 30px 0 30px 0;
    font-size: 16pt;
}

<%CSSend%>

<div class="section">

<div id="admin_title">Тестирование окончено</div>

<div id="admin_section">

<div id="result">
    Ваш результат: <!-- RESULT -->
</div>

<div class="ctrl_button end_button"><a href="/test">Новое тестирование</a></div>
&nbsp;
</div>
</div>
